/* nav start */
@import url('https://fonts.googleapis.com/css?family Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #5f5f5f;
    background-color: #333;
}

section:nth-child(even){
    background: #222222;
}

header{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    width: 320px; /* Lebar diubah sesuai dengan jumlah link yang tersisa */
    height: 60px;
    background: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(0 15px 35px rgba(0,0,0,0.35));
}
header nav{
    display: flex;
    width: 280px; /* Lebar diubah sesuai dengan jumlah link yang tersisa */
}
header nav a{
    position: relative;
    list-style: none;
    width: 70px;
    height: 60px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}
header nav a .icon{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #666;
}
header nav a.active .icon{
    transform: translateY(-35px);
    color: var(--clr);
}
header nav a .text{
    position: absolute;
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(15px);
    opacity: 0;
}
header nav a.active .text{
    transform: translateY(-4px);
    background: var(--clr);
    opacity: 1;
}
.indicator{
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #868686;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 1;
}
.indicator::before{
    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 15px 18px #868686;
}
.indicator::after{
    content: '';
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -15px 18px #868686;
}
header nav a:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
header nav a:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
header nav a:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
header nav a:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}

/* nav end */
.home-section{
    height: 100vh;
.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 10px;
}

.text-section {
    color: aliceblue;
    font-size: 16px;
    flex: 1;
    padding: 20px;
}

.text-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.search-bar #typed {
    top: 50%;
    font-size: 1.5em;
    left: 20px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

.image-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.image-section .profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

}
.about-section{
    height: auto;
    .profile {
        text-align: center;
    }
    
    .profile-pic {
        margin-top: 15px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
        border: 5px solid rgb(155, 255, 172); /* Tambahkan properti ini untuk border */
        box-shadow: 0 0 25px rgba(98, 218, 168, 0.582);
    }
    
    h1 {
        margin: 0;
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 16px;
        color: #b6b6b6;
    }
    
    .skills {
        margin-top: 20px;
    }
    
    .skills h2 {
        margin-left: 15px;
        margin-bottom: 10px;
        font-size: 20px;
        color: #ffffff;
    }
    
    table {
        margin-left: 15px;
        font-size: 10px;
        color: rgb(0, 0, 0);
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 0 25px rgba(98, 218, 168, 0.582);
        width: 93%;
        margin-bottom: 50px;
    }
    
    th, td {
        border: 1px solid #000000;
        padding: 8px;
        text-align: left;
        font-size: 16px;
    }
    
    th {
        background-color: #7fffa5;
    }
    
    td{
        background-color: rgb(216, 216, 216);
    }
}
.projects-section {
        padding: 40px 20px;
        background-color: #fff;
        height: 100vh;
    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .project-item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        overflow: hidden;
        max-width: 300px;
        transition: transform 0.3s ease;
    }

    .project-item:hover {
        transform: translateY(-10px);
    }

    .project-image {
        box-shadow: 0 0 25px rgba(54, 54, 54, 0.582);
        width: 300px;
        height: 300px;
    }

    .project-title {
        font-size: 1.5em;
        color: #000;
        margin: 16px;
    }

    .project-description {
        padding: 0 16px;
        font-size: 1em;
        color: #000000;
    }

    .project-features {
        list-style-type: none;
        padding: 0 16px;
        margin: 10px 0;
    }

    .project-features li {
        background-color: #eee;
        border-radius: 4px;
        padding: 5px;
        margin: 5px 0;
    }

    .project-link {
        box-shadow: 0 0 25px rgba(54, 54, 54, 0.582);
        display: block;
        text-align: center;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 0 0 8px 8px;
    }

    .project-link:hover {
        background-color: #0056b3;
    }
}
.contact-section{
        justify-content: center;
        align-items: center;
        height: 100vh; /* Menggunakan seluruh tinggi layar */
    
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Mengatur agar konten di dalam main-container berurutan secara vertikal */
        text-align: center; /* Mengatur teks dalam kontainer utama agar berada di tengah */
    }
    
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        border-radius: 20px;
        color: #000000;
        border: 1px rgba(0,0,0,0.35) solid;
        margin: 10px;
        transition: 0.6s;
        background-color: #5e5e5e; /* Tambahkan background putih untuk kontras */
        width: 300px; /* Atur lebar default kartu */
        transform: scale(2); /* Ubah nilai ini untuk memperbesar atau memperkecil */
    }
    
    .cards:hover {
        box-shadow: 5px 5px 20px rgb(50, 153, 255);
    }
    
    .cards img {
        transition: 0.2s;
        width: 120px;
        border-radius: 50%;
        margin-bottom: 10px;
        padding: 2px;
    }
    
    .cards:hover img {
        outline: 4px solid #5da9ff;
    }
    
    .cards p {
        color: #aaa;
    }
    
    .sosmed a i {
        color: #ffffff;
        font-size: 15px;
        transition: 0.5s;
        padding: 10px 0;
    }
    
    .sosmed a i:hover {
        transform: scale(1.5);
        color: #ff0000;
    }
    
    .sosmed {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    
    h1 {
        margin: 20px 0;
    }
    
}
@media (max-width: 768px) {
    .project-list {
        flex-direction: column;
        align-items: center;
    }
    .projects-section {
        padding: 40px 20px;
        background-color: #fff;
        height: 190vh;
        .project-image {
            box-shadow: 0 0 25px rgba(54, 54, 54, 0.582);
            width: 350px;
            height: 300px;
        }
        .project-item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden;
            max-width: 350px;
            transition: transform 0.3s ease;
        }
        
    }
}
@media (max-width: 489px) {
    .container {
        flex-direction: column;
        display: flex;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
        background-color: #ffffff00;
        border-radius: 10px;
    }
    .text-section h1 {
        font-size: 2em;
    }

    .text-section .welcome-text {
        font-size: 1em;
    }

    .search-bar input {
        font-size: 1em;
        padding: 10px;
    }
    .image-section {
        width: 75%;
        text-align: center;
        margin-top: 10px;
    }
    .projects-section {
        background-color: #fff;
        height: 200vh;
        .project-image {
            box-shadow: 0 0 25px rgba(54, 54, 54, 0.582);
            width: 250px;
            height: 250px;
        }
        .project-item {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            overflow: hidden;
            max-width: 250px;
            transition: transform 0.3s ease;
        }
    }
    
    .contact-section{
        height: 110vh;
        .cards {
            align-items: center;
            justify-content: center;
            padding: 20px 30px;
            border-radius: 20px;
            color: #000000;
            border: 1px rgba(0,0,0,0.35) solid;
            margin: 10px;
            transition: 0.6s;
            background-color: #8b8b8b; /* Tambahkan background putih untuk kontras */
            width: 300px; /* Atur lebar default kartu */
            transform: scale(1); /* Ubah nilai ini untuk memperbesar atau memperkecil */
        }
        .sosmed a i {
            color: #646464;
            font-size: 20px;
            transition: 0.5s;
            padding: 10px 0;
        }
        .sosmed a i:hover {
            transform: scale(1.5);
            color: #1100ff;
        }
        
    }
}